<!DOCTYPE html>
<html lang="es">
	<head>

		<title>Atenci&oacute;n M&eacute;dica</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<!-- Bootstrap -->
		<link rel="stylesheet" href="{{ STATIC_URL }}libs/bootstrap/css/bootstrap-3.2.0.min.css">
		<link rel="stylesheet" href="{{ STATIC_URL }}libs/bootstrap/fonts/raleway.css">

		<link rel="stylesheet" href="{{ STATIC_URL }}libs/jquery/themes/smoothness/jquery-ui.css">

		<!-- Propios -->
		<link rel="stylesheet" href="{{ STATIC_URL }}css/estilo.css">
		
		{% block styles %}
		{% endblock %}

		<!-- jQuery -->
		<script src="{{ STATIC_URL }}libs/jquery/js/jquery-2.1.1.min.js"></script>
		<script src="{{ STATIC_URL }}libs/jquery/js/jquery-ui.js"></script>
		
		<!-- Bootstrap -->
		<script src="{{ STATIC_URL }}libs/bootstrap/js/bootstrap-3.2.0.min.js"></script>

		{% block scripts %}
		{% endblock %}

	</head>

	<body>

		<div class="container-fluid">
			<div class="navbar navbar-fixed-top">
				<div class="container">
					<div class="navbar-header">
						<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
							<div class="icon-bar-button">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							</div>
						</button>
						<a class="brand" href="/">
							<img src="/static/img/logo.png" class="marginleft5 margintop4 width40 height40" />
						</a>
					</div>
					<center>
						<div class="navbar-collapse collapse" id="navbar-main">

							<ul class="nav navbar-nav">
								{% if user.is_authenticated %}
									{% if user.is_staff %}

										<li class="dropdown">
											<a href="/censo"> Censo </a>
										</li>

										<li class="dropdown">
											<a href="#" class="dropdown-toggle" data-toggle="dropdown"> 
												Habitaciones
												<b class="caret"></b>
											</a>
											<ul class="dropdown-menu">
												<li>
													<a href="/habitacion/asignar">Asignar</a>
												</li>
												<li>
													<a href="/habitacion/solicitar">Solicitar</a>
												</li>
												<li>
													<a href="/habitacion/listar_solicitudes">Solicitudes Activas</a>
												</li>
											</ul>
										</li>

										<li class="dropdown">
											<a href="#" class="dropdown-toggle" data-toggle="dropdown">
												Term&oacute;metro
												<b class="caret"></b>
											</a>
											<ul class="dropdown-menu">
												<li>
													<a href="/estadisticas/termometro">Term&oacute;metro</a>
												</li>
												<li>
													<a href="/estadisticas/matriz">Matriz</a>
												</li>
											</ul>
										</li>

										<li class="dropdown">
											<a href="#" class="dropdown-toggle" data-toggle="dropdown">
												Usuarios
												<b class="caret"></b>
											</a>
											<ul class="dropdown-menu">
												<li>
													<a href="/usuario/crear">Agregar</a>
												</li>
												<li>
													<a href="/usuario/listar">Listar</a>
												</li>
											</ul>
										</li>

									{% else %}
										<li>
											<a href="/emergencia/buscar">Paciente</a>
										</li>
										<li>
											<a href="/emergencia/listar/todas">Ver emergencias</a>
										</li>
										<li class="dropdown">
											<a  href="#" class="dropdown-toggle" data-toggle="dropdown">
												Listas por categoría
												<b class="caret"></b>
											</a>
											<ul class="dropdown-menu">
												<li>
													<a href="/emergencia/listar/todas">
														Pacientes en emergencia
													</a>
												</li>

												<li class="divider"></li>

												<li class="dropdown-submenu">
													<a tabindex="-1" href="#">Por área</a>
													<ul class="dropdown-menu">
														<li>
															<a href="/emergencia/listar/triage">
																Pacientes en triage
															</a>
														</li>
														<li>
															<a href="/emergencia/listar/atencion">
																Pacientes en atención
															</a>
														</li>
													</ul>
												</li>

												<li class="divider"></li>

												<li class="dropdown-submenu">
													<a tabindex="-1" href="#">Subáreas de triage</a>
													<ul class="dropdown-menu">
														<li>
															<a href="/emergencia/listar/sinclasificar"> 
																Pacientes sin clasificar
															</a>
														</li>
														<li>
															<a href="/emergencia/listar/clasificados">
																Pacientes clasificados, no atendidos
															</a>
														</li>
													</ul>
												</li>
											</ul>
										</li> 
									{% endif %}
								{% else %}
									<li>
										<a href="/usuario/restablecer">Recuperar clave</a>
									</li>
									<li>
										<a href="/usuario/solicitar">Solicitar cuenta</a>
									</li>
								{% endif %}
							</ul>

							<div class="navbar-info">
								{% if user.is_authenticated %}
									<div class="usuario navbar-form navbar-right">
										{{user}} 
										(<a href="/sesion/cerrar">Cerrar sesión</a>)
									</div>
								{% else %}
									<form method='POST' action="/sesion/iniciar/" class="navbar-form navbar-right">
										{% csrf_token %}
										<div class="form-group">
											<div class="input-group">
												<span class="input-group-addon">
													<span class="glyphicon glyphicon-credit-card"></span>
												</span>
												{{ form.unombre }}
											</div>
										</div>
										<div class="form-group">
											<div class="input-group">
												<span class="input-group-addon ">
													<span class="glyphicon glyphicon-wrench"></span>
												</span>
												{{ form.uclave }}
											</div>
										</div>
										<button type="submit" class="btn btn-default">Iniciar Sesi&oacute;n</button>
									</form>
								{% endif %}
							</div>
						</div>
					</center>
				</div>
			</div>
		</div>

		<div id="cuerpo" class="container">
			
			{% if msj_info %}
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="alert alert-{{msj_tipo}} alert-dismissible" role="alert">
							<button type="button" class="close" data-dismiss="alert">
								<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
							</button>
							<strong> {{msj_info}} </strong>
						</div>
					</div>
				</div>
			{% endif %}

			{% if messages %}
				<div onclick="$(this).fadeOut()" style="position: absolute; left: 50%; top:20px;z-index:2000;">
					<div style="position: relative; left: -50%;">
						{% for msg in messages %}
							<div class="message-{% if msg.tags %}{{ msg.tags }}{% else %}info{% endif %}" >
								{{ msg }}
							</div>
						{% endfor %}
					</div>
				</div>
			{% endif %}

			{% block body %}
			{% endblock %}

		</div>

		<footer class="navbar navbar-fixed-bottom">
			<div class="container">
				<p class="muted credit">&reg;Pagina desarrollada en la 
					<a class= "footer-link" href="http://www.usb.ve/"> Universidad Sim&oacute;n Bol&iacute;var</a> 
					para el 
					<a class= "footer-link" href="http://www.centromedicodecaracas.com.ve/">Centro M&eacute;dico de Caracas </a>.
				</p>
			</div>
		</footer>

		

	</body>

</html>




