<!DOCTYPE html>
<html lang="es">
<head>
  
  <title>Atenci&oacute;n M&eacute;dica</title>
  
  <!-- jQuery -->
  <link rel="stylesheet" 
        href="{{ STATIC_URL }}libs/jquery/themes/smoothness/jquery-ui.css">
  <!-- Bootstrap -->
  <link rel="stylesheet" 
        href="{{ STATIC_URL }}libs/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" 
        href="{{ STATIC_URL }}libs/bootstrap/css/bootstrap-responsive.min.css">
  <!-- Propios -->
  <link rel="stylesheet" href="{{ STATIC_URL }}css/estilo.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/masEstilos.css">
  {% block styles %}
  {% endblock %}
  
  
  <link type="image/x-icon" href="{{ STATIC_URL }}img/icono.ico" rel="icon" />
  
  
  <!-- jQuery -->
  <script src="{{ STATIC_URL }}libs/jquery/js/jquery.min.js"></script>
  <script src="{{ STATIC_URL }}libs/jquery/js/jquery.js"></script>
  <script src="{{ STATIC_URL }}libs/jquery/js/jquery-ui.js"></script>
  <!-- Bootstrap -->
  <script src="{{ STATIC_URL }}libs/bootstrap/js/bootstrap.min.js"></script>
  <script src="{{ STATIC_URL }}libs/bootstrap/js/bootstrap-dropdown.js"></script>
  <script src="{{ STATIC_URL }}libs/bootstrap/js/bootstrap-collapse.js"></script>
  
  <script>
      // Para habilitar el dropdown de los menus
      $(document).ready(function(){
        $('.dropdown-toggle').dropdown();
      });
  </script>
  {% block scripts %}
  {% endblock %}
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>


<body>
  <div id="lista" class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-inner fontsize16">
      <div class="container">
      
        <a  class="btn btn-navbar" 
            data-toggle="collapse"
            data-target=".nav-collapse"> 
          <span class="icon-bar"></span>
          <span class="icon-bar"></span> 
          <span class="icon-bar"></span>
        </a>
        
        <a class="brand" href="/">
          <img src="/static/img/logo.png"
               class="marginleft5 width40 height40" />
        </a>
        
        <div class="nav-collapse"> 
          <ul class="nav">          
            {% if user.is_authenticated %}
                {% if user.is_staff %}
                
                <li class="dropdown">
                    <a href="/censo">
                        Censo
                    </a>
                </li>
                
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Habitaciones
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/habitacion/asignar">Asignar</a>
                        </li>
                        <li>
                            <a href="/habitacion/solicitar">Solicitar</a>
                        </li>
                    </ul>
                </li>
                
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Term&oacute;metro
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/estadisticas/termometro">Term&oacute;metro</a>
                        </li>
                        <li>
                            <a href="/estadisticas/matriz">Matriz</a>
                        </li>
                    </ul>
                </li>
                
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Usuarios
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/usuario/crear">Agregar</a>
                        </li>
                        <li>
                            <a href="/usuario/buscar">Buscar</a>
                        </li>
                        <li>
                            <a href="/usuario/listar">Listar</a>
                        </li>
                    </ul>
                </li>
              
                {% else %}
                <li>
                  <a href="/emergencia/buscar">Paciente</a>
                </li>
                <li>
                  <a href="/emergencia/listar/todas">Ver emergencias</a>
                </li>
                <li class="dropdown">
                    <a  href="#" class="dropdown-toggle"
                        data-toggle="dropdown">
                      Listas por categoría
                      <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                      <li>
                    <a href="/emergencia/listar/todas">
                        Pacientes en emergencia
                    </a>
                    </li>
                    <li class="divider">
                    </li>
                    <li class="nav-header">Por área
                    </li>
                    <li>
                        <a href="/emergencia/listar/triage">
                        Pacientes en triage
                        </a>
                    </li>
                    <li>
                        <a href="/emergencia/listar/atencion">
                        Pacientes en atención
                        </a>
                    </li>
                    <li class="divider">
                    </li>
                    <li class="nav-header">
                        Subáreas de triage
                    </li>
                    <li>
                        <a href="/emergencia/listar/sinclasificar"> 
                        Pacientes sin clasificar
                        </a>
                    </li>
                    <li>
                    <a href="/emergencia/listar/clasificados">
                        Pacientes clasificados, no atendidos
                    </a>
                    </li>
                    </ul>
                </li> 
                {% endif %}
            {% endif %}
          </ul>
        </div>
        
        
        {% if user.is_authenticated %}
        <div class="usuario navbar-form pull-right">
            {{user}} 
            (<a href="/sesion/cerrar">Cerrar sesión</a>)
        </div>
        {% else %}
        <form method='POST' 
              action="/sesion/iniciar/"
              class="navbar-form pull-right">
          {% csrf_token %}
          {{ form.unombre }} 
          {{ form.uclave }} 
          <input  class="btn btn-primary" 
                  type="submit"
                  value="Iniciar Sesi&oacute;n" />
          <br> 
          <a href="/usuario/restablecer">Recuperar clave</a> 
          |
          <a href="/usuario/solicitar">Solicitar cuenta</a>
        </form>
        {% endif %}
      </div>
    </div>
  </div>
  
  
  <div id="cuerpo" class="container">
    {% if msj_info %}
      <div class="row">
        <div id="mensaje" class="span12 alert alert-{{msj_tipo}}">
          {{msj_info}}
        </div>
      </div>
    {% endif %} 
    
    {% if not user.is_authenticated %}
      <h3 class="tit-list"></h3>
    {% endif %} 
	
	{% if messages %}
	<div onclick="$(this).fadeOut()" style="position: absolute; left: 50%; top:20px;z-index:2000;">
		<div style="position: relative; left: -50%;">
			{% for msg in messages %}
				<div class="message-{% if msg.tags %}{{ msg.tags }}{% else %}info{% endif %}" >{{ msg }}</div>
			{% endfor %}
		</div>
	</div>
	{% endif %}
    
    {% block body %}
    {% endblock %}
     
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
  </div>
  
  
  <div id="footer">
    <div class="container">
      <p class="muted credit">
        <p class="muted credit">&reg;Pagina desarrollada en la 
        <a href="http://www.usb.ve/"> Universidad Sim&oacute;n Bol&iacute;var</a> 
        para el 
        <a href="http://www.centromedicodecaracas.com.ve/">Centro M&eacute;dico de Caracas </a>.
      </p>
    </div>
  </div>
  
</body>
</html>