{% extends "base.html" %}

{% block styles %}
{% endblock %}

{% block body %}

	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="grid-container">
				<h4 class="text-center">Matriz</h4>
				<h5 class="text-center">Al d&iacute;a {{ hoy }}</h5>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="grid-container">
				&nbsp;&nbsp;
				<a href="/estadisticas/termometro/">
					<img src="/static/img/menus/icono-termometro.png">
					Vista term&oacute;metro
				</a>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a href="#">
					<img src="/static/img/menus/icono-matriz.png">
					Vista matriz
				</a>
			</div>
		</div>
	</div>				

	<br>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="grid-container">
				<table class="table table-bordered">
					<tbody>
						{% for hab in habs %}
							{% cycle '<tr>' '' '' '' '' '' '' '' '' '' '' '' '' '' '' %}
								<td class="{{ hab.estado }}">{{ hab.numero }}</td>
							{% cycle '' '' '' '' '' '' '' '' '' '' '' '' '' '' '</tr>' %}
						{% endfor %}
					</tbody>
				</table>	
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="grid-container">
				<table>
					<tbody>
						<tr>
							<td width="7%" class = "D leyenda"> </td>
							<td>&nbsp;&nbsp;Disponible.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td width="7%" class = "A leyenda"> </td>
							<td>&nbsp;&nbsp;Alta.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td width="7%" class = "L leyenda">  </td>
							<td>&nbsp;&nbsp;Limpieza.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td width="7%" class = "O leyenda">  </td>
							<td>&nbsp;&nbsp;Ocupada.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td  width="7%" class = "M leyenda">  </td>
							<td>&nbsp;&nbsp;Mantenimiento.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>				
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

{% endblock %}

