{% extends "base.html" %}

{% block styles %}
{% endblock %}

{% block body %}

	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="grid-container">
				<h4 class="text-center">Matriz</h4>
				<h5 class="text-center">Al d&iacute;a {{ hoy }}</h5>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="grid-container">
				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center">
						<a href="/estadisticas/termometro">
							<img src="/static/img/menus/icono-termometro.png">
							&nbsp;&nbsp;Vista term&oacute;metro
						</a>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center">
						<a href="/estadisticas/matriz">
							<img src="/static/img/menus/icono-matriz.png">
							&nbsp;&nbsp;Vista matriz
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>			

	<br>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="grid-container">
				<table class="table table-bordered">
					<tbody>
						{% for hab in habs %}
							{% cycle '<tr>' '' '' '' '' '' '' '' '' '' '' '' '' '' '' %}
								<td class="{{ hab.estado }}">{{ hab.numero }}</td>
							{% cycle '' '' '' '' '' '' '' '' '' '' '' '' '' '' '</tr>' %}
						{% endfor %}
					</tbody>
				</table>	
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-3 col-md-12 col-lg-12">
			<div class="grid-container">
				<div class="row">
					<div class="col-xs-2 col-xs-offset-1 col-sm-2 col-sm-offset-1 col-md-2 col-md-offset-1 col-lg-2 col-lg-offset-1 text-center">
						<span class="D leyenda">
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						</span>
						&nbsp;&nbsp;
						<span>Disponible.</span>
					</div>

					<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-center">
						<span class="A leyenda">
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						</span>
						&nbsp;&nbsp;
						<span>Alta</span>
					</div>

					<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-center">
						<span class="L leyenda">
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						</span>
						&nbsp;&nbsp;
						<span>Limpieza</span>
					</div>

					<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-center">
						<span class="O leyenda">
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						</span>
						&nbsp;&nbsp;
						<span>Ocupada.</span>
					</div>
					<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-center">
						<span class="M leyenda">
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						</span>
						&nbsp;&nbsp;
						<span>Mantenimiento.</span>
					</div>
				</div>
			</div>
		</div>
	</div>	

{% endblock %}

