{% extends "base.html" %}

{% block body %}
	
	{% if mensaje %}
		{{mensaje}}
	{% endif %}

	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="grid-container">
				
				<h4 class="text-center">
					Lista de usuarios
				</h4>

			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="grid-container">
				
				<br>
				
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th>C&eacute;dula</th>
							<th>Nombre</th>
							<th>Tipo</th>
							<th>Habilitado</th>
							<th>Acciones</th>
						</tr>
					</thead>

					<tbody>
						{% for l in listaU %}
						<tr>
							<td>
								{{l.username}}
							</td>
							<td>
								{{l.first_name}} {{l.last_name}}
							</td>
							<td>
								{{l.tipoR}}
							</td>

							{% if l.is_active != True %}
							<td> <input type="checkbox"> </td>

							{% else %}
							<td> <input type="checkbox" checked> </td>

							{% endif %}

							<td>
								<a href="/usuario/listar/{{l.username}}/editar" class= "table-link">
									<span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp; 
								</a>
								<a href="/usuario/listar/{{l.username}}/borrar" class= "table-link">
									<span class="glyphicon glyphicon-trash"></span>&nbsp;&nbsp;
								</a>
							</td>
						</tr>
						{% endfor %}
					</table>
				</tbody>

			</div>
		</div>
	</div>

{% endblock %}