{% extends "base.html" %}

{% block scripts %}
	<script>
		// Funcion para eliminar solicitud
		function cancelar_sol( item ) {
			var $objeto = $( item ).parent().parent();
			var id = $objeto.find('input[name=id]').val();
			$.ajax({
				url : 'cancelar_solicitud',
				type : 'POST',
				dataType: "json",
				data : {
					csrfmiddlewaretoken: $("#table-user > input").val(),
					id:id
				},
				success : function(json) {
					if (json.result == 'success') {
						alert("Solicitud eliminada con exito.");
						$objeto.remove();
					} 
					else {
						alert("Error: No se pudo eliminar la solicitud.");
					}
				},
				error : function(xhr,errmsg,err) {
					alert("Error: No se pudo eliminar la solicitud.");
				}
			});
		}
	</script>
{% endblock %}  


{% block body %}

	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="grid-container">
				<h4 class="text-center">
					Solicitudes Activas
				</h4>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="grid-container">
				{% if solicitudes_activas %}
					<h5>&nbsp;&nbsp;&nbsp;Se muestran las solicitudes pendientes por aprobaci&oacute;n hasta el momento</h5>
				{% else %}
					<h5>&nbsp;&nbsp;&nbsp;No hay solicitudes pendientes en este momento.</h5>
				{% endif %}
			</div>
		</div>
	</div>

	{% if solicitudes_activas %}

		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="grid-container">
					
					<br>
					
					<table id="table-user" class="table table-bordered table-striped">
						{% csrf_token %}
						<thead>
							<tr>
								<th>Nombre del paciente</th>
								<th>Fecha de solicitud</th>
								<th>Inicio de Ocupaci&oacute;n</th>
								<th>Fin de Ocupaci&oacute;n</th>
								<th>Procedencia</th>
								<th>Acciones</th>
							</tr>
						</thead>

						<tbody>
							{% for activa in solicitudes_activas %}
								{% if activa.paciente %}
								<tr class="lista_solicitud">
									<input type="hidden" name="id" value="{{ activa.id }}" />
									<td>
										{{activa.paciente}}
									</td>
									<td>
										{{activa.fecha_solicitud|date:"d-m-Y"}}
									</td>
									<td>
										{{activa.fecha_ingreso|date:"d-m-Y"}}
									</td>
									<td>
										{{activa.fecha_salida|date:"d-m-Y"}}
									</td>
									<td>
										{{activa.procedenciatex}}
									</td>
									<td>
										<a onclick="cancelar_sol(this);" href="#" class= "table-link">
											<span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp; 
										</a>
									</td>
								</tr>
								{% endif %}
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	{% else %}
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="grid-container">
					<h5>&nbsp;&nbsp;&nbsp;No hay solicitudes pendientes en este momento.</h5>
				</div>
			</div>
		</div>
	{% endif %}
	
{% endblock %}