{% extends "base.html" %}

{% block scripts %}
	<script>

		function show_form() {
			$('#form-buscar').fadeToggle();
		}

		$(document).ready( function() {
			$("#show-form-link").click(show_form);
		});

	</script>

{% endblock %} 

{% block body %}
	
	{% if mensaje %}
		{{mensaje}}
	{% endif %}

	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="grid-container">
				
				<h4 class="text-center">
					Lista de usuarios
				</h4>

			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="grid-container">
				<a id="show-form-link" href="#">
					<span class="glyphicon glyphicon-plus"></span>
					Buscar Usuarios
				</a>
			</div>
		</div>
	</div>

	<form id="form-buscar" method="post" action="/usuario/listar/buscar" style="display: none">
		{% csrf_token %}
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
				<div class="grid-container">
					{{form.cedula}}
					{{form.nombres}}
					<br>
					<span>
						&nbsp; {{form.habilitado}} Usuario Habilitado
					</span>
				</div>
			</div>

			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
				<div class="grid-container clearfix">
					{{form.tipo}}
					{{form.apellidos}}
					<input class="btn btn-default form-button pull-right" type="submit" value="Buscar" />
				</div>
			</div>
		</div>
	</form>

	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="grid-container">
				
				<br>
				
				<table id="table-user" class="table table-bordered table-striped">
					<thead>
						<tr>
							<th>C&eacute;dula</th>
							<th>Nombre</th>
							<th>Tipo</th>
							<th>Habilitado</th>
							<th>Acciones</th>
						</tr>
					</thead>

					<tbody id="table-user-body">
						{% for l in listaU %}
						<tr>
							<td>
								{{l.username}}
							</td>
							<td>
								{{l.first_name}} {{l.last_name}}
							</td>
							<td>
								{{l.tipoR}}
							</td>
							<td>
								{% if l.is_active != True %}
									<input id="{{l.username}}" type="checkbox" disabled>
								{% else %}
									<input id="{{l.username}}" type="checkbox" checked disabled> 
								{% endif %}
							</td>
							<td>
								<a href="/usuario/listar/{{l.username}}/editar" class= "table-link">
									<span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp; 
								</a>
								<a href="/usuario/listar/{{l.username}}/borrar" class= "table-link">
									<span class="glyphicon glyphicon-trash"></span>&nbsp;&nbsp;
								</a>
								
								{% if l.is_active != True %}
									<a href="/usuario/listar/{{l.username}}/habilitar" class= "table-link">
										<span>Habilitar</span>
									</a> 
								{% else %}
									<a href="/usuario/listar/{{l.username}}/deshabilitar" class= "table-link">
										<span>Deshabilitar</span>
									</a>
								{% endif %}
							</td>
						</tr>
						{% endfor %}
					</table>
				</tbody>

			</div>
		</div>
	</div>

{% endblock %}