{% extends "base.html" %}

{% block body %}
  <div class="botones">  
    <div class="row text-center">    
    <div class="row text-center">
      <!-- ============   ADMINISTRACION    ============== -->
      {% if usuario.is_admin or user.is_staff %}
      <div class="span2 color offset3">
        <a href="/habitacion/solicitar" class="btn">  
          <img src="/static/img/menus/solicitar.png" />
          <h5>SOLICITAR CAMA</h5>
        </a>
      </div>
      <div class="span2 color">
        <a href="/habitacion/asignar" class="btn">  
          <img src="/static/img/menus/asignar.png" />
          <h5>ASIGNAR CAMA</h5>
        </a>
      </div>
      <div class="span2 color">
        <a href="/censo" class="btn">
          <img src="/static/img/menus/censo.png" />
          <h5>CENSO</h5>
        </a>
      </div>
    </div>
    <br/><br/><br/>  
    <div class="row text-center">
      <div class="span2 color offset3">
        <a href="#" class="btn">
          <img src="/static/img/menus/altas.png" />
          <h5>ESTATUS DE ALTAS</h5>
        </a>
      </div>
      <div class="span2 color">
        <a href="/estadisticas/termometro" class="btn">
          <img src="/static/img/menus/termometro.png" />
          <h5>TERM&Oacute;METRO</h5>
        </a>
      </div>
      <div class="span2 color">
        <a href="#" class="btn">
          <img src="/static/img/menus/estadisticas.png" />
          <h5>ESTAD&Iacute;STICAS</h5>
        </a>
      </div>
    </div>
    
    
      <!-- ============   RESPONSABLE DE CAMAS    ============== -->
      {% else %}
      {% if usuario.is_resp %}
	  <div class="span2 color offset1">
        <a href="/habitacion/solicitar" class="btn">  
          <img src="/static/img/menus/solicitar.png" />
          <h5>SOLICITAR CAMA</h5>
        </a>
      </div>
      <div class="span2 color">
        <a href="/censo" class="btn">
          <img src="/static/img/menus/censo.png" />
          <h5>CENSO</h5>
        </a>
      </div>      
      <div class="span2 color">
        <a href="#" class="btn">
          <img src="/static/img/menus/altas.png" />
          <h5>ESTATUS DE ALTAS</h5>
        </a>
      </div>
      <div class="span2 color">
        <a href="/estadisticas/termometro" class="btn">
          <img src="/static/img/menus/termometro.png" />
          <h5>TERM&Oacute;METRO</h5>
        </a>
      </div>
      <div class="span2 color">
        <a href="#" class="btn">
          <img src="/static/img/menus/estadisticas.png" />
          <h5>ESTAD&Iacute;STICAS</h5>
        </a>
      </div>
      
      
      <!-- ============   MEDICO    ============== -->
      {% else %}
      {% if usuario.is_medico %}
      <div class="span2 offset5">
        <a href="/censo" class="btn">
          <img src="/static/img/menus/altas.png" />
          <h5>DAR ALTAS</h5>
        </a>
      </div>
      
      
      <!-- ============   SOLICITANTE    ============== -->
      {% else %}
      {% if usuario.is_sol %}
      <div class="span2 offset4">
        <a href="/habitacion/solicitar" class="btn">  
          <img src="/static/img/menus/solicitar.png" />
          <h5>SOLICITAR HABITACION</h5>
        </a>
      </div>
      <div class="span2 color">
        <a href="/censo" class="btn">
          <img src="/static/img/menus/censo.png" />
          <h5>CENSO DE PACIENTES</h5>
        </a>
      </div>
      
      {% endif %}
      {% endif %}
      {% endif %}
      {% endif %}
    </div>
  </div>
{% endblock %}
